#top-div {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 99px;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #4CAF50;
    text-align: center;
    align-items: center;
}
.navitem {
  display: inline-block;
  padding: 200px;
  
}

.navitem:last-child {
    border-right: none; 
}

.image-container {
    margin-top: 174px;
    display: flex;
    justify-content: space-between; 
  }
  
  .image-item {
    flex-basis: 33%;
    text-align: center;
  }
  
  .image-item img {
    width: 100%; 
    height: 100%; 
    margin-bottom: 10px;
  }
  img {
    transition: transform 0.3s ease-in-out; 
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  button {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transform: skewX(150deg);
  }
  
  button:hover {
    background-color: #e50a0a;
    transition: all 0.5s;
    
  }
  

  .details{
    margin-top: 90px;
  }

  .details-summary {
    cursor: pointer;
    width: 97%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    user-select: none;
}

.details-summary:hover {
    background-color: #0056b3;
}
footer {
    background-color: black;
  color: white;
  text-align: center;
  }
  
  